.loader {
    margin: auto;
    margin-top: 10px;
    display: flex;
    border: 16px solid #F3F3F3; /* Light grey */
    border-top: 16px solid #3498DB; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

.txt{
    margin: auto;
    width: 100%;
    background-color: rgb(113, 135, 197);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}
.button{
    margin-top: 20px;
    margin-left: 43%;
    width: 200px;
    height: 40px;
    background-color: rgb(202, 172, 167);
    color: rgb(255, 255, 255);
}
.actName{
    margin: auto;
    width: 100%;
    height: 50px;
    background-color: rgb(37, 73, 172);
    color: white;
    padding: 10px;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.siteLink{
    position: absolute;
    width: 300px;
    height: 200px;
}
#container{
    display: block;
    flex-wrap: wrap;
}